
.tarjeta {
    margin-bottom: 20px;
    cursor: default;
    padding: 20px;
    border-radius: 30px;
}

.tarjeta h1 {
    color: #ffffff;
    font-size: 4rem;
}
.tarjeta h5 {
    color: #5d5d5d;
    font-size: 1rem;
}
