
.lineas {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    cursor: default;
}

.linea {
    color: var(--linea);
    border: 2px solid var(--linea);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 10px;
    background-color: #343434;
}
