
body {
    color: #ced4da;
    background-color: #111011;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

h5 {
    color: #343434;
}
